# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.moved-builder
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xcscmblueprint
*.xccheckout

# XcodeGen
*.xcodeproj/
!/DiscountCards.xcodeproj/

# Temporary / Log files
*.log
